mixin bottom()
  section.bottom 
    .container.bottom__container 
      .grid 
        a(href="").grid__item.grid__item--first
          .grid__shape 
          span.grid__title In ultrices sem
        a(href="").grid__item 
          .grid__shape 
          span.grid__title Phasellus vel nibh finibus.
        a(href="").grid__item 
          .grid__shape 
          span.grid__title Nascetur ridiculus mus.
        a(href="").grid__item 
          .grid__shape 
          span.grid__title Vivamus euismod nunc, at pulvinar .
        a(href="").grid__item 
          .grid__shape 
          span.grid__title Etiam id vestibulum ex.
        a(href="").grid__item 
          .grid__shape.grid__shape--arrow 
            img(src="img/arrow.svg", alt="")
          span.grid__title.grid__title--weight-400 Orci varius natoque penatibus