mixin graduate()
  section.graduate
    .container.graduate__container 
      ul.graduate-list 
        li.graduate-list__item.graduate-list__item--first
          .timeline-block.timeline-block--three
            .decore.decore--triangle
            h2.s-header.timeline-block__header <span class="s-header__year">2008</span> год
            p.s-text.timeline-block__text In luctus ipsum id enim molestie ornare. Donec eros augue, suscipit vel erat ac, convallis laoreet lectus.
        li.graduate-list__item.graduate-list__item--second
          .graduate-list__picture 
            picture 
              source(srcset="img/oksford.jpg" media="(min-width: 1024px)")
              img(src="img/oksford-mini.jpg", alt="")
          p.graduate-list__text Curabitur sed dapibus ipsum. Curabitur vitae mollis ipsum. Sed molestie, nisl quis consectetur elementum, leo orci condimentum lacus, id dignissim erat justo nec ligula. Nam varius massa mauris, sit amet tempor dolor molestie eu. Nulla a faucibus libero. Nam tristique metus tempor fermentum ultricies. Donec molestie vel nunc et posuere.
        li.graduate-list__item.graduate-list__item--three
          .decore.decore--shape-transform
          .graduate-list__num 700
          .graduate-list__text.graduate-list__text--three.graduate-list__text--padding.graduate-list__text--white Sed molestie, nisl quis consectetur elementum, leo orci condimentum lacus,
        li.graduate-list__item.graduate-list__item--float 
          .graduate-cups 
            img(src="img/cup.png", alt="")
            img(src="img/cup.png", alt="")
          a.graduate-link(href="") Lorem ipsum