mixin timeline()
  section.timeline 
    .container.timeline__container 
      .timeline-block.timeline__item.timeline-block--first
        .decore.decore--round
        h2.s-header.timeline-block__header <span class="s-header__year">1969</span> год
        p.s-text.timeline-block__text.timeline-block__text--first Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula erat sed lobortis sodales. Donec dictum id lacus id maximus.
      .timeline-block.timeline__item.timeline-block--second
        .decore.decore--poligon
        .line 
          .line__item 1
          .line__item 2
          .line__item 3
        h2.s-header.timeline-block__header <span class="s-header__year">1997</span> год
        p.s-text.timeline-block__text Nulla in erat sit amet augue porta vulputate ac vel orci. Suspendisse quis velit eleifend.
  